.container-artwork{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-img-artwork{
    width: 50%;
    height: 100vh;
    /* background-image: url( ../../img/artwork-1.jpg); */
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}


.content-img-artwork a{
    text-decoration: none;
    color: black;
    display: inline-block;
    position: absolute;
    margin: 40px 0px 0px 30px;
    z-index: 1;
}

.content-text-artwork{
    width: 50%;
}

.nav-artwork-container{
    width: 10%;

}

.content-text-artwork{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
}

.artwork-info-container{
    width: 90%
}

.artwork-data{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: -15%;
    margin-top: 40px;
    position: relative;

}


.container-artwork-title{
    width: 70%;
    display: flex;
    align-items: flex-end;
    bottom: 0;
    height: 190px;
}

.artwork-data-specifications{
    width: 30%;
    font-size: 15px;
    background: black;
    color: white;
    padding: 20px

}


.artwork-title{

    font-size: 60px;
    font-weight: 900;
    
}

.artwork-description{
    font-size: 18px;
    width: 100%;
    padding: 60px;
    margin-top: 50px;
    font-weight: lighter;
}

.artwork-description p{
    font-size: 20px
}


/* -------------------------------------------------------------- */
/* Carrousel */

.carousel-control-next{
    display: flex !important;
    align-items: center;
}

.carousel-control-prev{
    display: flex !important;
    align-items: center;
}

/* Reponsive Adjusts */

@media screen and (max-width: 1000px){
    .container-artwork{
        padding-top: 76px;
        position: relative;
    }
    .nav-artwork-container{
        display: none;
    }
    .content-img-artwork{
        height: auto;
    }
    .content-img-artwork{
        width: 65%;
    }
    .content-text-artwork{
        width: 35%;
        
    }

    .container-artwork-title{
        width: 35%;
        position: absolute;
        top: 20%;
        right: 10%;
        font-size: 30px;
    }
    .artwork-data-specifications{
        width: 35%;
        position: absolute;
        bottom: -5%;
        right: 10%;

    }
    .artwork-title{
        font-size: 50px;
    }

}

@media screen and (max-width: 600px){

    .content-img-artwork{
        width: 75%;
    }
    .content-text-artwork{
        width: 25%;
        
    }
   
    .container-artwork-title{
        width: 50%;
        position: absolute;
        top: 25%;
        right: 7%;
        font-size: 27px;
    }
    .artwork-data-specifications{
        width: 50%;
        position: absolute;
        bottom: -5%;
        right: 7%;
        z-index: 1;
        font-size: 15px;

    }
    .artwork-title{
        font-size: 33px;
    }
    .artwork-carousel{
        z-index: 0;
    }
    .carousel-indicators{
        display: none !important;
    }

}