

.list-artworks-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.flex-container-list{
    display: flex;
    flex-direction: row;
}

.artwork-component{
    width: 33%;
}

.projects-container{
    width: 95%;
    padding: 0px 5%;
}

.projects-title{
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 5px;
    text-align: right;
    margin-bottom: 100px;
    margin-top: 150px;
}

.only-responsive{
    display: none
}

/* ----------------------------Responsive------------------------ */

@media screen and (max-width: 1000px){
    .artwork-component{
        width: 50%;
    }
    .projects-title{
        margin-bottom: 20px;
    }
    
    .only-responsive{
        display: block
    }
}

@media screen and (max-width: 650px){
    .artwork-component{
        width: 100%;
    }
    .projects-title{
        font-size: 80px;
        letter-spacing: 1px;
        margin-bottom: 0px;
        
    }
}

/* ------------------------------- SIDEBAR NAV ------------------ */


.nav-projects-list{
    width: 5%;
    background: #e6e6e6;
}

/* .nav-projects-list a{
    color: black;
    text-decoration: none;
}

@keyframes hover-nav {
    from{
        letter-spacing: 0;
    }
    
    to{
        letter-spacing: 2px;
    }
}

.nav-projects-list a:hover{
    color: black;
    text-decoration: none;
    animation: hover-nav 300ms ease-in-out ;
    animation-fill-mode: both;
    
} */



.nav-projects-list a{
    color: black;
    text-decoration: none;
    transition: all .5s ease;

  }

.nav-projects-list a:hover{
    color: #000;
    transition: all .5s ease;
    text-decoration: line-through;
}