.d-flex-bio{
    display: flex;
    flex-wrap: wrap;
}

.width-100{
    width: 95%;
    margin-top: 150px;
}

.row-r{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding-right: 60px;
}

.row-l{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
}

.img-bio{  
    width: 80%;
}

.img-bio img{
    width: 100%;
}

.title-bio{
    margin-left: -150px;
    font-size: 75px;
}

.justify-end{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-projects-list{
    height: 100vh;
    width: 5%;
    background: #e6e6e6;
}

.bio-data{
    width: 300px;
    padding: 25px;
    background: black;
    color: white;
    height: auto;
    align-self: flex-start;
}

.bio-text{
    margin-top: 100px;
}

.only-responsive-bio{
    display: none
}
/* Responsive ajustes */

@media screen and (max-width: 750px){
    .only-responsive-bio{
        display: block;
    }
    .bio-data{
        width: 201px;
        padding: 20px;
        background: black;
        color: white;
        height: auto;
        font-size: 14px;
    }

    .only-desktop-bio{
        display: none;
    }
    .row-l{
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    .img-bio{  
        width: 100%;
    }
    .row-r{
        width: 80%;
        margin: 30px auto;
        border: 0;
        padding: 0;
    }
    .row-l{
        display: block;
        position: relative;
    }
    .title-bio {
        font-size: 70px;
        font-size: 55px;
        position: absolute;
        top: -30px;
        left: -10px;
        margin-left: 0px
    }
    .only-responsive-bio{
        position: absolute;
        right: -20px;
        bottom: -70px;
    }

}