

.container-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-home{
    width: 95%;
    height: 100vh;
    background-image: url( ../../img/home-bg.jpg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}
.nav-home{
    width: 5%;

}

.nav-home ul{
    text-align: end;
    list-style: none;
    position:fixed;
    transform-origin: left top;
    transform:rotate(-90deg) translateX(-100%);
    width: 100vw;
}

.nav-home a{
    color: black;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 50px
}

.nav-home .last-link{
    margin-right: 20%
}


