

.container-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-home{
    width: 95%;
    height: 100vh;
    background-image: url( ../../img/home-bg.jpg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}
.nav-home{
    width: 5%;
}

@media screen and (max-width: 600px){
    .nav-home{
        width: 0%;
    }
    .content-home{
        width: 100%;
        background-size: cover;
        overflow: hidden;
        background-image: url( ../../img/responsive-home-bg.jpg);
    }
}

