.container_artworkComponent{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 75px 10px;
}


.container_artworkComponent_title{
    width:70%;
    display: block;
    position: absolute;
    top: 0%;
    left: 0;
    text-transform: lowercase;

}

.container_artworkComponent_title h3{
    letter-spacing: 1px;
    font-size: 35px;
    transition: all .5s ease;
}
.container_artworkComponent_title h3:hover{
    transition: all .5s ease;
    background: black;
    color: white;
}


.container_artworkComponent img{
    width: 80%;
    margin: 11% 11%;
    
}


.container_artworkComponent .specific-list{
    width:40%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}