.container_artworkComponent{
    display: flex;
    justify-content: space-between;
    position: relative;
}


.container_artworkComponent_title{
    width:70%;
    display: block;
    position: absolute;
    top: 0%;
    left: 0;
    text-transform: lowercase;

}

.container_artworkComponent_title h3{
    letter-spacing: 1px;
    font-size: 35px;
}


.container_artworkComponent img{
    width: 80%;
    margin: 10% 10%;
}

.container_artworkComponent .specific-list{
    width:40%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}