.nav-home ul{
    text-align: end;
    list-style: none;
    position:fixed;
    transform-origin: left top;
    transform:rotate(-90deg) translateX(-100%);
    width: 100vw;
}

.gray{
    background: #e6e6e6;
    height: 200px;
}

.nav-home a{
    color: black;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 50px;
    transition: all .5s ease;
}

.nav-home .last-link{
    margin-right: 20%
}

.nav-home a:hover{
    color: #000;
    transition: all .5s ease;
    text-decoration: line-through;
}

.bm-burger-button{
    outline: none;
}

.bm-burger-button{
    outline: none;
}

/* Responsive Menu change */

@media screen and (max-width: 1000px){
    .only-desktop{
     display: none;
    }
    
}